# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.~8~
*.~6~
*.dcu
CadastroProduto/__history/uCadastroProduto.dfm.~10~
*.~11~
CadastroProduto/__history/uCadastroProduto.dfm.~3~
*.~12~
*.~2~
CadastroProduto/__history/uTabelas.dfm.~1~
*.~30~
CadastroProduto/__history/uCadastroProduto.pas.~29~
*.~28~
CadastroProduto/__history/uCadastroProduto.pas.~27~
*.~25~
CadastroProduto/__history/uCadastroProduto.pas.~26~
*.~24~
CadastroProduto/__history/uCadastroProduto.pas.~31~
*.~22~
CadastroProduto/__history/uCadastroProduto.pas.~23~
*.~9~
CadastroProduto/__history/uCadastroProduto.dfm.~5~
*.~4~
CadastroProduto/__history/prjProduto.dpr.~1~
*.~7~
